.main{
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
.heading{
  font-size: 5rem;
  text-align: center;
}
.btn{
  padding: 1rem 2rem;
  text-align: center;
  color: #fff;
  background-color: #333;
  border-radius: 0.7rem;
  border: none;
  font-size: 2rem;
}
.btn:hover{
  background-color: #444;
  cursor: pointer;
}